.container{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.space-section{
    padding-top: 60px;
    padding-bottom: 60px;
}

/*topinfo*/
.topinfo.bg{
    background-color: #122ab2;
    color: #fff;
}

.topinfo .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topinfo .content :is( a, p ){
    color: #fff;
    margin: 0px 10px;
}

/* menu */
header.bg{
    background-color: #2c70ff;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: #fff;
    padding: 5px 10px;
    transition: .3s;
}
.menu a:hover{
    color: #122ab2;
}

.menu .logo{
    font-size: 2.25em;
    font-weight: bold;
}

.menu nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* intro */
.intro{
    font-size: 3em;
    line-height: 1;
    max-width: 520px;
    padding: 60px 5px;
}

/* sobre */
.sobre{
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 2 1 300px;
    margin: 0px 5px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
    padding-right: 20px;
}

.area-img{
    display: flex;
}

.sobre-img{
    margin: 10px;
}

/* produtos */
.produtos{
    margin: 0px 10px 60px 10px;
}

.produtos h1{
    font-size: 3em;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item{
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item h2{
    font-size: 3em;
    color: #a4a4a4;
    background-color: #f7f7f7;
    padding: 60px 20px;
}

.produtos-container .produtos-item:first-child{
    border-top: 8px solid #ae81ff;
}

.produtos-container .produtos-item:nth-child( 2 ){
    border-top: 8px solid #f9265e;
}

.produtos-container .produtos-item:last-child{
    border-top: 8px solid #66d9ed;
}

/* preco */
.preco{
    background-color: #f7f7f7;
    padding: 60px;
}

.preco > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.preco > ul > li{
    flex: 1 1 260px;
    border: 4px solid #fff;
    padding: 20px;
    margin: 10px;
}

.preco > ul > li a{
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

.preco h2{
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.preco > ul > li span{
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.preco > ul > li sup{
    font-size: 1.5rem;
}

.preco > ul > li ul{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;
}

.preco > ul > li ul li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preco > ul > li ul li::after{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #2c70ff;
    border-radius: 50%;
}

@media (max-width: 700px){
    .preco{
        padding: 60px 10px;
    }
    .preco > ul > li:last-child{
        order: -2;
    }
    .preco > ul > li:nth-child( 2 ){
        order: -1;
    }
}

.qualidade ul{
    display: flex;
    flex-wrap: wrap;
}

.qualidade ul li{
    flex: 1 1 250px;
    margin: 20px 10px;
}

.qualidade ul li h2{
    font-size: 2.25em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.qualidade ul li p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

.qualidade ul li h2::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background-color: #122ab2;
}

.qualidade ul li:nth-of-type( 3n + 1 ) h2::before{
    background-color: #ae81ff;
}

.qualidade ul li:nth-of-type( 3n + 2) h2::before{
    background-color: #f9265e;
}

.qualidade ul li:nth-of-type( 3n + 3 ) h2::before{
    background-color: #66d9ed;
}

/* newsletter */
.newsletter{
    background-color: #f7f7f7;
}

.newsletter .content{
    flex-wrap: wrap;
    display: flex;
}

.newsletter-info{
    flex: 1 1 260px;
    margin: 0 10px;
}

.newsletter-info h1{
    font-size: 3em;
    color: #a4a4a4;
}

.newsletter-info p{
    font-size: 1.25em;
    font-style: italic;
    max-width: 260px;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.newsletter-form{
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
} 
.newsletter-form input{
    flex: 3 1 200px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    border: 4px solid #2c70ff;
    background: transparent;
    margin: 0px;
    padding: 15px 10px;
    border-radius: 0px;
}

.newsletter-form button{
    flex: 1 1 200px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.25em;
    font-weight: 700;
    text-transform: uppercase;
    background: #2c70ff;
    color: #fff;
    margin: 0;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
}

@media (max-width: 700px){
    .newsletter-form button{
        font-size: 1.25em;
    }
}

/* footer */
.footer{
    background-color: #2c70ff;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    color: #122ab2;
}